.app-container {
  font-family: 'Roboto';
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  color: #1e293b;
  font-size: 34px;
  font-weight: 900;
}

.ul-container {
  display: flex;
}
